[build-system]
requires = [
    "setuptools",
    "wheel",
    "build",
	"twine"
]
build-backend = "setuptools.build_meta"

[project]
name = "ais_database_client"
description = "Python client to the Space Eye AIS database"
version = "2025.4.3"
readme = "README.md"
requires-python = ">=3.10"
keywords = ["AIS", "SAR"]
license = {text = "Apache-2.0"}
classifiers = [
    "Development Status :: 3 - Alpha",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3",
]
dependencies = [
    "requests",
]
authors = [
  {name = "Space Eye e.V.", email = "kontakt@space-eye.org"},
]

[project.urls]
"Homepage" = "https://space-eye.info"
"Bug Tracker" = "https://gitlab.com/satellitesearch/ais_database_client/-/issues"
"Source Code" = "https://gitlab.com/satellitesearch/ais_database_client"

[tool.setuptools.packages.find]
include = ["ais_database_client"]

[tool.bumpver]
current_version = "2025.4.3"
version_pattern = "YYYY.MM.INC0[-TAG]"
commit_message = "Bump version to {new_version}"
commit = true
tag = true
push = true

[tool.bumpver.file_patterns]
"pyproject.toml" = [
    'current_version = "{version}"',
    'version = "{version}"',
]

[tool.isort]
known_first_party = "ais_database_client"
include_trailing_comma = true
line_length            = 88
multi_line_output      = 3

[tool.pylint.main]
jobs = 0

[tool.pylint.messages_control]
disable = [
  "missing-module-docstring",
]
enable = ["useless-suppression"]

[tool.pylint.format]
max-line-length = 120

[tool.pylint.reports]
output-format = "colorized"

[tool.pytest.ini_options]
addopts = [
    "--quiet",
    "--cov=opendrift_leeway_webgui",
    "--cov-report=html",
    "--disable-warnings",
]
