[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["adamapi"]

[project]
name = "eo4eu-adamapi"
version = "2.2.8"
description = "EO4EU fork of official adamapi package"
authors = [
    {name = "Apollon Grigoras", email = "apollon@uoa.gr"},
]
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "requests>=2.22.0",
]
