[tool.poetry]
name = "lukoshkin-lego"
version = "0.0.24.post3"
description = ""
authors = ["lukoshkin"]
readme = "README.md"
packages = [{ include = "lego" }]


[tool.poetry.dependencies]
rodi = "^2.0.6"
python = ">= 3.10 < 3.13"
openai = "1.66.1"
uvicorn = "^0.22.0"
python-decouple = "^3.8"
tenacity = "^8.2.3"
loguru = "^0.7.2"
pydantic = "^2.6.2"
pydantic-settings = "^2.2.1"
json-repair = "^0.8.0"
openpyxl = "3.1.2"
pyinstrument = "^4.6.2"
transitions = "^0.9.1"
pyhumps = "^3.8.0"
langchain-text-splitters = "^0.3.0"
litellm = { version = "1.63.11", optional = true }
boto3 = { version = "*", optional = true }
pymilvus = { version = "^2.5.3", optional = true, extras = ["model"] }


[tool.poetry.extras]
litellm = ["litellm", "boto3"]
milvus = ["pymilvus"]


[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
isort = { version = "^5.12.0", extras = ["toml"] }
mypy = "^1.4.1"
pre-commit = "^3.3.3"
pytest = "^8.3.4"
pytest-asyncio = "^0.25.0"
pytest-order = "^1.3.0"
ipython = "^8.14.0"
wemake-python-styleguide = "^0.18.0"
types-pyyaml = "^6.0.12.11"


[tool.black]
line-length = 79
target-version = ['py312']
include = '\.pyi?$'
exclude = '(\.eggs|\.git|\.hg|\.mypy_cache|\.nox|\.venv|_build|buck-out|build|dist|examples)'

[tool.pytest.ini_options]
asyncio_default_fixture_loop_scope = "function"

[tool.mypy]
allow_redefinition = true
