.footer {
    display: none !important;
}

.watermark {
    display: none !important;
}

.watermark-container {
    display: none !important;
}

.watermark-container-inner {
    display: none !important;
}